
<app-search (emmitSearch)="search($event)"></app-search>

<div class="list-all">
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
        <!-- 1h50 -->
        <a class="pokemon" [routerLink]="['details', pokemon.infos.id]" *ngIf="pokemon.infos">
            <section class="pokemon-info">
                <h2>{{pokemon.name}}</h2>
                <ul>
                    <li *ngFor="let value of pokemon?.infos?.types">
                        {{value.type.name}}
                    </li>
                </ul>
            </section>
            
            <section class="pokemon-img">
                <img  [src]="pokemon.infos.sprites.other.dream_world.front_default" [alt]="pokemon.name">
            </section>
        </a>
    </ng-template>
</div>